.footer-album {
  display: flex;
  align-items: center;
}

.album-logo {
  width: 50px;
  height: 50px;
}
.album-details {
  margin: auto 10px;
  letter-spacing: 0.015em;
  cursor: pointer;
  font-weight: 400;
}

.album-details > h4 {
  font-size: 14px;
  line-height: 20px;
}

.album-details > p {
  font-size: 12px;
  line-height: 16px;
  color: #b3b3b3;
}

.album-details > p:hover,
.album-details > h4:hover {
  color: white;
  text-decoration: underline;
}
